/* line 46, ../components/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 62, ../components/sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 75, ../components/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 85, ../components/sass/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 98, ../components/sass/_normalize.scss */
html {
  background: white;
  color: black;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 110, ../components/sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 120, ../components/sass/_normalize.scss */
body {
  margin: 0;
}

/* line 133, ../components/sass/_normalize.scss */
a {
  background: transparent;
}
/* line 140, ../components/sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 146, ../components/sass/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 160, ../components/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 165, ../components/sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 170, ../components/sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 175, ../components/sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 180, ../components/sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 185, ../components/sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 193, ../components/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 199, ../components/sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 212, ../components/sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 218, ../components/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 234, ../components/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 247, ../components/sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 255, ../components/sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../components/sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 278, ../components/sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 285, ../components/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 293, ../components/sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 297, ../components/sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 349, ../components/sass/_normalize.scss */
img {
  border: 0;
}

/* line 358, ../components/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 368, ../components/sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 385, ../components/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 396, ../components/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 410, ../components/sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 425, ../components/sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 435, ../components/sass/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../components/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../components/sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 471, ../components/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 484, ../components/sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 494, ../components/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 503, ../components/sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 512, ../components/sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 523, ../components/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Core partials====*/
/* line 3, ../components/sass/_mixins.scss */
.times ol li input[type=date], .places > ol .choosePlace .place, .places > ol .choosePlace .destination, .places > ol .choosePlace .destination li, .places > ol .choosePlace .destination li input[type=radio] + label, .notify input[type=submit], .button {
  background: rgba(11, 186, 178, 0.85);
  box-shadow: inset -1px -1px 2px rgba(255, 255, 255, 0.75), inset 1px 1px 2px rgba(255, 255, 255, 0.75), 2px 0 2px rgba(87, 100, 102, 0.85), 0.5px 0.5px 1px gray, -0.5px -0.5px 1px gray;
  border-radius: 2px;
}
/* line 11, ../components/sass/_mixins.scss */
.times ol li input[type=date]:hover, .places > ol .choosePlace .place:hover, .places > ol .choosePlace .destination:hover, .places > ol .choosePlace .destination li:hover, .places > ol .choosePlace .destination li input[type=radio] + label:hover, .notify input[type=submit]:hover, .button:hover {
  background: #f7f28b;
  box-shadow: 1px 1px 0.5px gray, -1px -1px 0.5px gray, 2px 0 2px rgba(87, 100, 102, 0.85);
  border-radius: 2px;
  cursor: pointer;
}

/* line 24, ../components/sass/_mixins.scss */
.times ol li input[type=date]:focus, .places > ol .choosePlace .place:focus, .places > ol .choosePlace .destination:focus, .places > ol .choosePlace .destination li:focus, .places > ol .choosePlace .destination li input[type=radio] + label:focus, .notify input[type=submit]:focus, .button:focus {
  outline: none;
  background: rgba(11, 186, 178, 0.15);
  box-shadow: 0 0 6px rgba(67, 78, 79, 0.85);
}

/* line 30, ../components/sass/_mixins.scss */
.mainForm, div.header h1, .notify, .notify input[type=submit], .button {
  color: #576466;
  text-shadow: 0.5px 0.5px 0.5px rgba(67, 78, 79, 0.85);
}

/* line 35, ../components/sass/_mixins.scss */
.places > ol .choosePlace .destination li, .places > ol .choosePlace .destination li input[type=radio] + label, .notify input[type=submit], .button {
  background: #f7f28b;
}
/* line 37, ../components/sass/_mixins.scss */
.places > ol .choosePlace .destination li:hover, .places > ol .choosePlace .destination li input[type=radio] + label:hover, .notify input[type=submit]:hover, .button:hover {
  background: rgba(11, 186, 178, 0.85);
}

/* line 45, ../components/sass/_mixins.scss */
.mainForm fieldset, div.header, .notify {
  border: none;
  background: rgba(159, 183, 186, 0.65);
  box-shadow: inset 0 0 2px 1px silver, 0 0 1.5px 0.75px #576466;
  border-radius: 2px;
}

/* line 53, ../components/sass/_mixins.scss */
.places > ol .choosePlace .destination li input[type=radio]:checked + label {
  border: none;
  background: rgba(170, 26, 255, 0.5);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.95);
}

/* line 1, ../components/sass/_base.scss */
* {
  box-sizing: border-box;
}

/*======CLEAR FLOATS======*/
/*======CLEAR INPUT FIELDS ETC.======*/
/* line 16, ../components/sass/_base.scss */
input[type=date], input[type=submit] {
  border: none;
  border-radius: 0;
}

/*======SHARED FORM STYLES======*/
/* line 24, ../components/sass/_base.scss */
.mainForm {
  max-width: 400px;
  margin: 12px auto;
}
/* line 7, ../components/sass/_base.scss */
.mainForm:after {
  content: "";
  display: table;
  clear: both;
}
/* line 29, ../components/sass/_base.scss */
.mainForm > fieldset::before {
  content: attr(title);
  display: inline-block;
  margin: 12px 0 0 8px;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}
/* line 37, ../components/sass/_base.scss */
.mainForm fieldset {
  margin: 12px auto;
  padding: 0;
  border: none;
}
/* line 42, ../components/sass/_base.scss */
.mainForm fieldset legend {
  display: none;
}
/* line 45, ../components/sass/_base.scss */
.mainForm fieldset ol {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

/*======HEADER======*/
/* line 4, ../components/sass/_modules.scss */
div.header {
  max-width: 400px;
  height: 80px;
  margin: 48px auto 0;
  padding: 0;
  background: rgba(159, 183, 186, 0.85);
}
/* line 12, ../components/sass/_modules.scss */
div.header h1 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-size: 1.8em;
}

/*======TIMES======*/
/* line 28, ../components/sass/_modules.scss */
.times ol li {
  margin: 0;
}
/* line 7, ../components/sass/_base.scss */
.times ol li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 31, ../components/sass/_modules.scss */
.times ol li:first-child {
  margin: 12px 10% 0 0;
}
/* line 34, ../components/sass/_modules.scss */
.times ol li:last-child {
  margin: 24px 10% 24px 0;
}
/* line 38, ../components/sass/_modules.scss */
.times ol li label {
  display: block;
  float: left;
  width: 28%;
  height: 24px;
  margin-left: 7%;
  padding-top: 2px;
  border-right: 1px solid grey;
}
/* line 48, ../components/sass/_modules.scss */
.times ol li input[type=date] {
  display: block;
  outline: none;
  float: right;
  width: 48%;
  margin: 0;
  padding-left: 6px;
}

/*======PLACES======*/
/* line 65, ../components/sass/_modules.scss */
.places > ol {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
/* line 7, ../components/sass/_base.scss */
.places > ol:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../components/sass/_modules.scss */
.places > ol li {
  list-style: none;
}
/* line 73, ../components/sass/_modules.scss */
.places > ol .place, .places > ol .choosePlace {
  height: 24px;
  display: block;
}
/* line 81, ../components/sass/_modules.scss */
.places > ol .choosePlace {
  z-index: 2;
  width: 83%;
  margin: 0 10% 36px 7%;
  padding: 0;
  border: none;
  background: -webkit-linear-gradient(left, rgba(159, 183, 186, 0.65), #9fb7ba 80%);
  background: -o-linear-gradient(left, rgba(159, 183, 186, 0.65), #9fb7ba 80%);
  background: linear-gradient(to right, rgba(159, 183, 186, 0.65), #9fb7ba 80%);
  box-shadow: inset 0 0 1px grey, 0 0 1px grey;
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
/* line 96, ../components/sass/_modules.scss */
.places > ol .choosePlace:first-child {
  margin-top: 24px;
}
/* line 99, ../components/sass/_modules.scss */
.places > ol .choosePlace .notChoice {
  display: none;
}
/* line 102, ../components/sass/_modules.scss */
.places > ol .choosePlace .choice {
  position: absolute;
  z-index: 1;
  left: 45.5%;
  width: 44.5%;
  height: 24px;
  margin: 0 auto;
  padding-top: 4px;
  text-align: center;
}
/* line 113, ../components/sass/_modules.scss */
.places > ol .choosePlace .place {
  float: left;
  width: 46%;
  margin: 0;
}
/* line 119, ../components/sass/_modules.scss */
.places > ol .choosePlace .place li {
  margin: 0;
  padding: 3px 0 0 8px;
}
/* line 122, ../components/sass/_modules.scss */
.places > ol .choosePlace .place li label:hover {
  cursor: pointer;
}
/* line 128, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination {
  display: none;
  position: absolute;
  z-index: 2;
  left: 45.5%;
  width: 44.5%;
  padding: 0;
}
/* line 136, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination li {
  margin: 0;
  padding: 0;
  margin: 3px auto;
  text-align: center;
}
/* line 143, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination li:first-child {
  margin: 0;
}
/* line 146, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination li:last-child {
  margin-bottom: 0;
}
/* line 149, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination li input[type=radio] {
  display: none;
}
/* line 152, ../components/sass/_modules.scss */
.places > ol .choosePlace .destination li input[type=radio] + label {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: 24px;
  padding-top: 3px;
}

/*JS PARTIALS*/
/* line 1, ../components/sass/_notification.scss */
.notify {
  display: none;
  max-width: 400px;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 12px;
  padding: 0 12px;
}
/* line 7, ../components/sass/_base.scss */
.notify:after {
  content: "";
  display: table;
  clear: both;
}
/* line 11, ../components/sass/_notification.scss */
.notify p {
  display: block;
  text-align: left;
  margin: 12px auto;
  float: left;
}
/* line 18, ../components/sass/_notification.scss */
.notify input[type=submit] {
  display: block;
  width: 96px;
  float: left;
  margin: 6px 0 12px 48px;
  padding: 6px;
}
/* line 7, ../components/sass/_base.scss */
.notify input[type=submit]:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../components/sass/_notification.scss */
.button {
  display: block;
  float: right;
  width: 96px;
  margin-right: 6px;
  padding: 6px;
}
/* line 7, ../components/sass/_base.scss */
.button:after {
  content: "";
  display: table;
  clear: both;
}
