.notify {
  display: none;
  max-width: 400px;
  @extend %boxStyle;
  @extend %fontStyle;
  line-height: 1.4em;
  text-align: center;
  margin-bottom: 12px;
  padding: 0 12px;
  @include clearfix;
  p {

    display: block;
    text-align: left;
    margin: 12px auto;
    float: left;
  }
  input[type=submit] {
    @include clearfix;
    display: block;
    width: 96px;
    float: left;
    margin: 6px 0 12px 48px;
    padding: 6px;
    @extend %inputStyle;
    @extend %fontStyle;
    @extend %submitStyle;
  }
}



.button {
  @include clearfix;
  display: block;
  float: right;
  width: 96px;
  margin-right: 6px;
  padding: 6px;
  @extend %inputStyle;
  @extend %fontStyle;
  @extend %submitStyle;
}